<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

    <h2 class="text-center">Edit Profile Information</h2>

    <%= form_for @profile do |f| %>
        <% if @profile.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

            <ul>
            <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>
        
        <div class="form-group">
        <%= f.label :user_id %><br />
        <%= f.text_field :user_id, class: "form-control", value: current_user.id %>
      </div>
      
        <div class="form-group">
          <%= f.label :drivers_license %><br />
          <%= f.text_field :drivers_license, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :middle_name %><br />
          <%= f.text_field :middle_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :phone %><br />
          <%= f.text_field :phone, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :social_security %><br />
          <%= f.text_field :social_security, class: "form-control" %>
        </div>

        <%= f.hidden_field :backgroundcheck_status, value: 'checked' %>
        
        <div class="actions">
          <%= f.submit "Update Profile", { class: "btn btn-primary btn-block" } %>
        </div>       
        
    <% end %>

    <div class="links text-center">
        <%= link_to 'Back', my_profile_path %>
    </div>
</div>
</div>
</div>
