<h1> Listing Profiles </h1>

<table>
  
<tr>
<th> Drivers License </th>
<th> First Name</th>
<th> Last Name </th> <br />
<th> Middle Name</th>
<th> Backgroundcheck Status</th>
<th> Phone</th>
<th> Social Security</th>
<th></th>

</tr>

<% @profiles.each do |profile| %>
<tr>

<td><%= profile.drivers_license %></td>
<td><%= profile.first_name %></td>
<td><%= profile.last_name %></td>
<td><%= profile.middle_name %></td>
<td><%= profile.backgroundcheck_status %></td>
<td><%= profile.phone %></td>
<td><%= profile.social_security %></td>
<td> 
 <%= link_to 'Show', profile_path(profile.id) %>
 <%= link_to 'Edit', edit_profile_path(profile) %>

 


</td>

</tr>


<% end %>
</table>

<p>
<h3> You have not created a profile, create one new? </h3>
<%= link_to 'New Profile', new_profile_path %> | 

</p> 


