<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="container">
        <h2 class="text-center">My Profile Information</h2>
      
        <% if current_user.profile %> 

          <p>
            <b> Name:</b>
            <%= current_user.profile.full_name_private%>
          </p>

          <p>
            <b> Phone: </b>
            <%= current_user.profile.phone%>
          </p>

          <p>
            <b> Social Security: </b>
            <%= current_user.profile.social_security%>
          </p>

          <p> 
            <b> Drivers License Id:</b>
            <%= current_user.profile.drivers_license %>
          </p>

          <p>
            <b> Background Check Status: </b>
            <%= current_user.profile.backgroundcheck_status%>
          </p>

          <div class="links text-center">
            <%= link_to 'Edit', edit_profile_path(current_user.profile) %> 
          </div>

        <% else %>

          <p class="lead">You have not created a profile. Do you want to create one now?</p>

          <div class="links text-center">
            <%= link_to 'New Profile', new_profile_path %>
          </div>

        <% end %>

      </div>

      <div class="container mt-5">
        <h2 class="text-center">My Paypal Information</h2>

        <% if current_user.paypal %> 

          <p>
            Login to your official Paypal Account:<a href ="https://www.paypal.com/signin?returnUri=https%3A%2F%2Fwww.paypal.com%2Fcgi-bin%2Fwebscr%3fcmd%3d_account"> Click this link </a>
          </p>

          <p> 
            <b>Paypal Id :</b>
            <%= current_user.paypal.paypal_id %>
          </p>

          <p>
            <b> Username :</b>
            <%= current_user.paypal.paypal_username%>
          </p>

          <p>
            <b> Account Routing Number : </b>
            <%= current_user.paypal.paypal_account_routing_number%>
          </p>

          <div class="links text-center">
              <%= link_to 'Edit', edit_paypal_path(current_user.paypal) %> 
          </div>

        <% else %>

          <p class="lead">You have not registed your paypal with us. Do you want to add one now?</p>

          <div class="links text-center">
            <%= link_to 'New Paypal', new_paypal_path %> 
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>