<% if current_user %>
  <h2> Current LoggedIn  : <%= current_user.id %>, <%= current_user.email %> </h2>

 <% end %>


<h1> Profiles </h1>

<% if current_user.profile %>

<ul>
<img src=<%= image_path('car_profile.jpg')%> width="500px" width="500px" align="right">
<li><%= link_to 'My Paypal',  my_paypal_path %></li>


</ul>
<p>
<b> Drivers License :</b>
<%= current_user.profile.drivers_license %>
</p>

<p>
<b> First Name :</b>
<%= current_user.profile.first_name%>
</p>

 <p>
 <b> Last Name : </b>
 <%= current_user.profile.last_name%>
</p>

 <p>
 <b> Middle Name : </b>
 <%= current_user.profile.middle_name%>
</p>

<p>
 <b> Backgroundcheck Status : </b>
 <%= current_user.profile.backgroundcheck_status%>
</p>

<p>
 <b> Phone : </b>
 <%= current_user.profile.phone%>
</p>

<p>
 <b> Social Security : </b>
 <%= current_user.profile.social_security%>
</p>



<p>
   <%= link_to 'Edit', edit_profile_path(current_user.profile) %> |

</p>

<% else %>

<ul>
<img src=<%= image_path('car_profile.jpg')%> width="500px" width="500px" align="right">
<li><%= link_to 'My Paypal',  my_paypal_path %></li>


</ul>


<p>
<h3> You have not created a profile, create one new? </h3>
<%= link_to 'New Profile', new_profile_path %>

</p>
<% end %>
