<% if current_user %>
  <h2> Current LoggedIn  : <%= current_user.id %>, <%= current_user.email %> </h2>

 <% end %>


<h1> Profiles </h1>

<% if current_user.profile.present? %>

<ul>
<img src=<%= image_path('car_profile.jpg')%> width="500px" width="500px" align="right">
<li><%=link_to" Paypal", paypals_path %> </li>

</ul>

<p>
<b> First Name :</b>
<%= current_user.profile.first_name%>
</p>

 <p>
 <b> Last Name : </b>
 <%= current_user.profile.last_name%>
</p>

 <p>
 <b> Middle Name : </b>
 <%= current_user.profile.middle_name%>
</p>

<p>
 <b> Reviews : </b>
 <%= current_user.profile.backgroundcheck_status%>
</p>





   <%= link_to "History", profile_history_path(id: current_user.profile.id) %>
<p>
</p>
<% else %>

<p>
<h3> You have not created a profile, create one new? </h3>
<%= link_to 'New Profile', new_profile_path %> 

</p>
<% end %>
