<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, id: :contract_start_date %>
  </div>

  <div class="field">
    <%= form.label :return_date %>
    <%= form.text_field :return_date, id: :contract_return_date %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :contract_price %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal, id: :contract_subtotal %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :contract_total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
