<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

        <h2 class="text-center">Edit Terms of Contract</h2>
        <p class="lead text-center"><%= @contract.short_form %></p>

        <%= form_for @contract do |form| %>
            <% if @contract.errors.any? %>
                <div id="error_explanation">
                <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

                <ul>
                <% @contract.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
                </div>
            <% end %>

            <div class="form-group">
                <%= form.label :start_date %>
                <%= form.text_field :start_date, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :return_date %>
                <%= form.text_field :return_date, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :price %>
                <%= form.text_field :price, class: "form-control" %>
            </div>

            <div class="actions">
                <%= form.submit "Update", { class: "btn btn-primary btn-block" } %>
            </div>
            
        <% end %>

        <div class="links text-center">
            <%= link_to 'Back', @contract %>
        </div>

    </div>
  </div>
</div>
