<p id="notice"><%= notice %></p>

<h1>Contracts</h1>


<table>
  <thead>
    <tr bgcolor="#c1cdcd">
    <th>  Contract # </th>
    <th>&nbsp &nbsp Start date</th>
    <th> &nbsp &nbsp Return date</th>
    <th>&nbsp &nbsp Price/Day</th>
    <th>&nbsp &nbsp Owner Email</th>
    <th>&nbsp &nbsp Paypal Username</th>
    <th>&nbsp &nbsp Status</th>
    <th>&nbsp &nbsp Subtotal</th>
    <th>&nbsp &nbsp Total</th>
    <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr bgcolor="#e0eeee" >
      <td><%= link_to contract.id, contract %></td>
      <td>&nbsp &nbsp <%= contract.start_date %></td>
      <td>&nbsp &nbsp <%= contract.return_date %></td>
      <td>&nbsp &nbsp <%= contract.price %></td>
      <td>&nbsp &nbsp <%= contract.car.owner.email %></td>
      <td>&nbsp &nbsp <%= contract.paypal.paypal_username %></td>
      <td>&nbsp &nbsp <%= contract.status %></td>
      <td>&nbsp &nbsp <%= contract.subtotal %></td>
      <td>&nbsp &nbsp <%= contract.total %></td>
      

      <td>&nbsp<%= link_to 'Show', contract %></td>
      <!--
      <td><%= link_to 'Update', edit_contract_path(contract) %></td>
      <td><%= link_to 'Delete', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to'Home', pages_home_path %>

<!--
<%= link_to 'New Contract', new_contract_path, {:style=>'color:#0000ff;'} %>

-->
