<p id="notice"><%= notice %></p>
<link rel= "stylesheet" href= "jquery.raty.css">
<script src="jquery.raty.js"></script>


<div class='star-rating' data-score = <%= @rate_renter.rating %>></div>

<style>
.checked {
    color: orange;
}
</style>




<p>
  <strong>Owner Email:</strong>
  <%= @contract.car.owner.email %>

</p>

<p>
  <strong>Start date:</strong>
  <%= @contract.start_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @contract.return_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @contract.price %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @contract.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @contract.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contract.status %>
</p>


<div>
  <%= link_to 'Update', edit_contract_path(@contract)%> |
  <%= link_to 'Cancel', @contract, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <button type="button"> Negotiate </button> |
  <%= link_to 'Back', contracts_path %>
  <% if @contract_owner == current_user %>
    <%= form_for @contract do |f| %>
      <%= f.hidden_field :status, value: "executed" %>
      <%= f.submit "Approve" %>
    <% end %>
  <% end %>









  <!--In this secion I sheldon created a popup window for when a renter wants to rate a renter-->
<%if current_user.email == @contract.car.owner.email %>
<a class="btn btn-primary" href=  <%= new_rate_renters_path %>>Rate the Renter</a>


 <%end%>






 <script>
           $('.star').raty({
               path: '/assets',
               scoreName: 'review[rating]',

             click : function(score, evt) {
               $(this).raty('cancel');
               $('#result').raty('score', score);
               document.getElementById("input").innerHTML = score;


             }
           });

                $('#result').raty( {
                     path: '/assets',
                     scoreName: 'review[rating]',

               });




           $('#star-rating').raty(
                {
           	path: '/assets',
           	scoreName: 'review[rating]',

           });

          var x =  $('#star-rating').raty('score');


           $('.star-rating').raty({
            path: '/assets/',
            readOnly: true,
            score: function() {
                   return $(this).attr('data-score');
          }
          });

 </script>
