<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

        <h2 class="text-center"><%= @contract.short_form %></h2>

        <p>
          <strong>Owner's Email:</strong>
          <%= @contract.car.owner.email %>
        </p>

        <p>
          <strong>Price: $</strong>
          <%= @contract.price %>
        </p>

        <p>
          <strong>Subtotal: $</strong>
          <%= @contract.subtotal %>
        </p>

        <p>
          <strong>Total: $</strong>
          <%= @contract.total %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= @contract.status %>
        </p>

        <div class="links text-center">
          <% if @contract_owner == current_user %>
            <%= link_to 'Approve', approve_contract_path(@contract), method: :post%> |
          <% end %>
          <% if @contract.status == 'pending' %>
            <%= link_to 'Update', edit_contract_path(@contract)%> | 
          <% end %>
          <%= link_to 'Cancel', @contract, method: :delete, data: { confirm: 'Are you sure you want to permanently delete this contract?' } %> | 
          <%= link_to 'Back', my_contracts_path %>
        </div>

    </div>
  </div>
</div>
