<p id="notice"><%= notice %></p>

<p>
  <strong>Owner Email:</strong>
  <%= @contract.car.owner.email %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @contract.start_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @contract.return_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @contract.price %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @contract.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @contract.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contract.status %>
</p>

<div>
  <%= link_to 'Update', edit_contract_path(@contract)%> | 
  <%= link_to 'Cancel', @contract, method: :delete, data: { confirm: 'Are you sure?' } %> | 
  <button type="button"> Negotiate </button> | 
  <%= link_to 'Back', contracts_path %>
  <% if @contract_owner == current_user %>
    <%= link_to 'Approve', approve_contract_path(@contract), method: :post%> |
    <% if false %>
    <%= form_for @contract do |f| %>
      <%= f.hidden_field :status, value: "executed" %>
      <%= f.submit "Approve" %>
    <% end %>
    <% end %>
  <% end %>
</div>
