<p id="notice"><%= notice %></p>
<link rel= "stylesheet" href= "jquery.raty.css">
<script src="jquery.raty.js"></script>

<div id="input"></div>
<div id='star-rating-read'></div>


<div class='star-rating' data-score = <%= @rate_renter.rating %>></div>


<div id="result"></div>

<style>
.checked {
    color: orange;
}
</style>




<p>
  <strong>Owner Email:</strong>
  <%= @contract.car.owner.email %>

</p>

<p>
  <strong>Start date:</strong>
  <%= @contract.start_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @contract.return_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @contract.price %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @contract.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @contract.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contract.status %>
</p>


<div>
  <%= link_to 'Update', edit_contract_path(@contract)%> |
  <%= link_to 'Cancel', @contract, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <button type="button"> Negotiate </button> |
  <%= link_to 'Back', contracts_path %>
  <% if @contract_owner == current_user %>
    <%= form_for @contract do |f| %>
      <%= f.hidden_field :status, value: "executed" %>
      <%= f.submit "Approve" %>
    <% end %>
  <% end %>


  <form action="../my-contracts/" method="get">
    <label for="q">Search for:</label>
    <input id="q" name="q" type="text" />
    <input type="submit" />
  </form>







  <!--In this secion I sheldon created a popup window for when a renter wants to rate a renter-->
<%if current_user.email == @contract.car.owner.email %>

 <div class = "containter">
       <button type="button" class ="btn btn-primary" class: "dropdown-item" data-toggle = "modal" data-target= "#modal-1">Rate the Renter</button>
       <div class = "modal fade" id =  "modal-1">
            <div class = "modal-dialog">
                <div class =" modal-content">
                     <div class =" modal-header">
                          <h3 class = "modal-title"> Rate the user</h3>
                          <button type = "button" class = "close" data-dismiss = "modal"> &times; </button>
                     </div>

                     <div class =" modal-body">

                              <h2>As the vender rate the Renter</h2>
                              <!-- <div id='star-rating'></div> -->
                              <div class="star"></div>




                     </div>
                     <div class = "modal-footer">
                          <a href= "" class= "btn btn-primary" data-dismiss = "modal"> Close</a>
                          <a href= "" class= "btn btn-primary"> Enter</a>

                     </div>

                </div>
            </div>
       </div>
 </div>

 <%end%>






 <script>
           $('.star').raty({
               path: '/assets',
               scoreName: 'review[rating]',

             click : function(score, evt) {
               $(this).raty('cancel');
               $('#result').raty('score', score);
               document.getElementById("input").innerHTML = score;


             }
           });

                $('#result').raty( {
                     path: '/assets',
                     scoreName: 'review[rating]',

               });




           $('#star-rating').raty(
                {
           	path: '/assets',
           	scoreName: 'review[rating]',

           });

          var x =  $('#star-rating').raty('score');


           $('.star-rating').raty({
            path: '/assets/',
            readOnly: true,
            score: function() {
                   return $(this).attr('data-score');
          }
          });

 </script>
