<!--
    Coded by: Sheldon Ebron
    Email: sebron@memphis.edu
-->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="pull-right btn-group-sm padding-right =50px">
<a href= <%=new_conversation_path%> class="btn btn-success tooltips" data-placement="top" data-original-title="Add">
    <i class="fa fa-plus"></i>

</a>
</div>
<div class="container bootstrap snippet">

    <div class="row">
         </a>
        <% if @conversations.empty?%>
        <% else %>
              <% @conversations.each do |conversation|  %>
               <% if conversation.user1.email == @user.email %>
                  <div class="col-sm-6">
                      <div class="panel">
                         <div class="panel-body p-t-10">
                              <div class="media-main">
                                  <a class="pull-left" href="#">
                                      <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                                  </a>
                                  <div class="pull-right btn-group-sm">
                                      <a href=<%=conversation_path(conversation)%> class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                          <i class="fa fa-pencil"></i>
                                      </a>

                                  </div>
                                  <div class="info">
                                      <h4><%= conversation.user2.email%>
                                                  </h4>
                                      <p class="text-muted"><%= link_to conversation.user2.email, conversation_path(conversation) %>
                                   </p>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                              <hr>
                         </div>
                      </div>
                  </div>

                  <%elsif conversation.user2.email == @user.email %>

                  <div class="col-sm-6">
                      <div class="panel">
                         <div class="panel-body p-t-10">
                              <div class="media-main">
                                  <a class="pull-left" href="#">
                                      <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                                  </a>
                                  <div class="pull-right btn-group-sm">
                                      <a href=<%=conversation_path(conversation)%> class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                          <i class="fa fa-pencil"></i>
                                      </a>

                                  </div>
                                  <div class="info">
                                      <h4><%= conversation.user1.email%>
                                                  </h4>
                                      <p class="text-muted"><%= link_to conversation.user1.email, conversation_path(conversation) %>
                                   </p>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                              <hr>
                         </div>
                      </div>
                  </div>
              </td>

                    <%end%>
               <%end%>
          <%end%>
</div>
</div>
