<body>

<style>
     html  {
         background: gray;
     }

     h1 {
         text-align: center;
     }
     </style>







<h1>Send a Message<%= @user.email %></h1>

<%= form_for @communication do |f| %>

        <p>
            <b>Sender</b><br>
            <%= f.collection_select(:sender_id, User.all, :id, :email, :value => @user.id)%>
        </p>

        <p>
            <b>Reciver</b><br>
            <%= f.collection_select(:reciever_id, User.all, :id, :email)%>
        </p>


        <p>
            <b>Choose A Message</b><br>
            <%= f.collection_select(:message_id, Message.all, :id, :message)%>
            <%=link_to "Create a New Messages", new_message_path %>

        </p>



        <p>
            <b>Choose A Conversaton</b><br>
            <%= f.select :conversation_id, Conversation.all.map { |r| [r.id] }, include_blank: true %>


        </p>

        <p>
            <%= f.submit "Send Message" %>
        </p>

    <% end %>

<p>
    <%=link_to "Back", conversations_path %>
</p>

</body>
