<p id="notice"><%= notice %></p>
<h3>Car Availability</h3>
<table>
  <thead>
    <tr bgcolor="#C0C0C0">
    <th>From</th>
    <th>To</th>
    <th>Car Status</th>
    <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @car.availabilities.each do |a| %>
    <tr bgcolor="#e0eeee" >
    <% if a.status == "Available"%>
    <td> <%= a.start %></td>
    <td><%= a.end %></td>
    <td><%= a.status %></td>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @car.category %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @car.mileage %>
</p>

<p>
  <strong>Number of seats:</strong>
  <%= @car.number_of_seats %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= @car.price_per_day %>
</p>

<h2>Pickup Location</h2>
<% @car.locations.each do |location| %>
  <% if location.status == "current"%>
    <%= render location.address %><br><br>
  <% end %>
<% end %>

<%= link_to 'Generate Contract', new_contract_path(id: @car) %> |
<%= link_to 'Back', browse_vehicles_path %>
