<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <h2 class="text-center"><%= @car.make_model_year %></h2>

      <p>
        <strong>Category:</strong>
        <%= @car.category %>
      </p>

      <p>
        <strong>Color:</strong>
        <%= @car.color %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @car.description %>
      </p>

      <p>
        <strong>Mileage:</strong>
        <%= @car.mileage %>
      </p>

      <p>
        <strong>Number of seats:</strong>
        <%= @car.number_of_seats %>
      </p>

      <p>
        <strong>Price per day: $</strong>
        <%= @car.price_per_day %>
      </p>

      <div class="mt-5">
        <h4>Pickup Location</h4>
        <% @car.locations.each do |location| %>
          <% if location.status == "current"%>
            <p>
              <%= location.address.street1 %><br>
              <%= location.address.short_form %>
            </p>
          <% end %>
        <% end %>
      </div>

      <div class="mt-5">
        <h4>Car Availability</h4>
        <% if !@car.availabilities.empty? %>

          <table class="table">
            <thead class="thead-dark">
              <tr>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
            <% @car.availabilities.each do |a| %>
              <tr bgcolor="#f7f7f9" >
              <% if a.status == "Available"%>
              <td><%= a.start %></td>
              <td><%= a.end %></td>
              <td><%= a.status %></td>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      
      <% else %>

        <p class="lead text-center">This car has no available dates.</p>
        <!--
          <%= link_to 'Generate Contract', new_contract_path(id: @car) %> |
          <%= link_to 'Back', browse_vehicles_path %>|
          <%= link_to "History", car_history_path(id: @car) %>
        -->

      <% end %>

      <div class="links text-center">
        <% if @car.owner != current_user %>
          <%= link_to 'Generate Contract', new_contract_path(id: @car) %> |
        <% end %>
        <%= link_to 'Back', browse_vehicles_path %>
      </div>

    </div>
  </div>
</div>
      
