<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2 class="text-center">My Vehicles</h2>
      
      <div class="links text-center mb-3">
        <% if @cars.empty?%>
          <p>You have not listed any vehicles for rent <em>yet</em>.</p>
        <% end %>
        <%= link_to 'Add a Vehicle', new_car_path %>
      </div>

      <div class="container">
        <div class="row">
          <% @cars.each do |car| %>
            <div class="card col-md-4 mb-3 px-1">
              <img class="card-img-top" src=<%= image_path('car_profile.jpg')%> alt="Car image placeholder">
              <div class="card-body text-center">
                <h5 class="card-title"><%= car.make_model %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= car.year %></h6>
                <p class="card-text"><%= car.color %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Description</th>
      <th>Category</th>
      <th>Mileage</th>
      <th>Number of seats</th>
      <th>Price per day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= car.color %></td>
        <td><%= car.description %></td>
        <td><%= car.category %></td>
        <td><%= car.mileage %></td>
        <td><%= car.number_of_seats %></td>
        <td><%= car.price_per_day %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


