<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <h2 class="text-center"><%= @car.make_model_year %></h2>

      <p>
        <strong>Category:</strong>
        <%= @car.category %>
      </p>

      <p>
        <strong>Color:</strong>
        <%= @car.color %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @car.description %>
      </p>

      <p>
        <strong>Mileage:</strong>
        <%= @car.mileage %>
      </p>

      <p>
        <strong>Number of seats:</strong>
        <%= @car.number_of_seats %>
      </p>

      <p>
        <strong>Price per day: $</strong>
        <%= @car.price_per_day %>
      </p>

      <div class="mt-5">
        <h4 class="text-center">Pickup Location</h4>
        <% @car.locations.each do |location| %>
          <p>
            <%= location.address.street1 %><br>
            <%= location.address.short_form %>
          </p>
          <p>
            <strong>Status:</strong>
            <%= location.status %>
          </p>
          <br>
        <% end %>
      </div>

      <div class="links text-center">
        <%= link_to 'Edit', edit_car_path(@car) %> |
        <%= link_to 'Back', cars_path %>
      </div>

    </div>
  </div>
</div>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %> |
<%= link_to "History", car_history_path(id: @car) %>
