<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Add a Testimonial</h2>

      <%= form_for @testimonial do |f| %>
        <% if @testimonial.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this review from being saved:</h2>
            <ul>
            <% @testimonial.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        
        <div class="form-group">
          <%= f.label :rating %>
          <div class="col-sm-6" id='star-rating'></div>
        </div>

        <script>
        $('#star-rating').raty({
            path: '/assets',
            scoreName: 'testimonial[rating]'
        });
        </script>

        <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_area:comment, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit class: "btn btn-primary btn-block" %>
        </div>
        <div class="links text-center">
          <%= link_to 'Back', root_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
