<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <div class="star-rating" data-score= <%= @testimonial.rating %>> </div>
</p>

<p>
  <strong>Comment:</strong>
  <%= @testimonial.comment %>
</p>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', my_testimonial_path %>
