<%= form_with(model: availability, local: true) do |form| %>
  <% if availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :car_id %>
    <%= form.collection_select :car_id, current_user.cars, :id, :model, {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :start %>
    <%= form.date_field :start, id: :availability_start, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :end %>
    <%= form.date_field :end, id: :availability_end, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= form.label :status %>
  <%= form.select :status, options_for_select(Availability::CAR_STATUS, availability.status), {}, { class: "form-control" } %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
  
<% end %>
