<%= form_with(model: availability, local: true) do |form| %>
  <% if availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <%= form.label :car_id %>
  <%= form.collection_select(:car_id, current_user.cars, :id, :model)%>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.date_field :start, id: :availability_start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.date_field :end, id: :availability_end %>
  </div>

  <div class="field">
  <%= form.label :status %>
  <%= form.select :status, options_for_select(Availability::CAR_STATUS, availability.status), {} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
