<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-10">

      <div class="container">
        <h2 class="text-center">Avalibilities for My Vehicles</h2>
        <% if !@my_carstatus.empty? %>

            <table class="table">
              <thead class="thead-dark">
                <tr>
                <th scope="col">Car</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Status</th>
                <th colspan="2"></th>
                </tr>
              </thead>
              <tbody>
              <% @my_carstatus.each do |a| %>
                <% if a.car.owner == current_user %>
                  <tr bgcolor="#f7f7f9" >
                  <td><%= a.car.make_model_year %></td>
                  <td><%= a.start %></td>
                  <td><%= a.end %></td>
                  <td><%= a.status %></td>

                  <td><%= link_to 'Update', edit_availability_path(a) %></td>
                  <td><%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
        
        <% else %>

          <p class="lead text-center">You have no updates for your cars.</p>

        <% end %>
      
      </div>
      
      <div class="links text-center">
        <%= link_to 'Add vehicle status', new_availability_path %>
      </div>

    </div>
  </div>
</div>
